<div class="jumbotron mt-4">
  <h1 class="display-4">Ticket Support App</h1>
  <p class="lead">Help Desk App</p>
  <hr class="my-4">
  <p>For Customer Support
  </p>
   <img class="img-fluid img-thumbnail" src="/img/ticket-logo-preview.png" alt="Logo">
  
</div>
